* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*body and background picture*/
html, body {
    height: 100%;
    width: 100%;
}

/* body {
    background-image: 
    linear-gradient(
    rgba(65, 106, 182, 0.678),
    rgba(64, 35, 83, 0.37)
        
    ),
    url('../../img/sevillapic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/*header section*/
.header a:hover {
    color:white;
}

h5 a {
    color: white;
    text-decoration: none;
}

h5 a:hover {
    color: rgb(58, 21, 58);
    text-decoration: none;
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: rgb(58, 21, 58);
    text-decoration: none;
} 

div.row.portfolio {
    margin-bottom: 60px;
}