* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 /*background picture and body*/
 html, body {
     height: 100%;
     width: 100%;
 }
 
 .background_page1 {
     background-image: 
     linear-gradient(
         rgba(198, 210, 233, 0.699),
         rgba(33, 9, 56, 0.39)
         
         ),
        url('../img/sevillapic.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 90vh;
        }
 
/* body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
 } */
 /*end of background picture and body*/

 .header a:hover {
    color: rgb(58, 21, 58);
 }

 /*end of header section*/

 div.card {
     background-color: rgba(95, 119, 228, 0.767);
 }
 
 div.row.icons {
    margin-top: 20px;
    margin-bottom: 60px;
 }
 