* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 /*background picture and body*/
 html, body {
     height: 100%;
     width: 100%;
 }
 
 .background_page1 {
     background-image: 
     linear-gradient(
         rgba(116, 42, 8, 0.281),
         rgba(18, 99, 22, 0.212)
         
         ),
        url('../img/sevillapic.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 90vh;
        }

 /*end of background picture and body*/

 .header a:hover {
    color: rgb(58, 21, 58);
 }

 /*end of header section*/

 div.card {
     background-color: rgba(29, 26, 218, 0.801);
     color: white;
 }
 
 div.row.icons {
    margin-top: 20px;
    margin-bottom: 60px;
 }
 