* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 /*background picture and body*/
 html, body {
     height: 100%;
     width: 100%;
 }

/* body {
     background-image: 
     linear-gradient(
         rgba(52, 63, 48, 0.445),
         rgba(6, 20, 37, 0.212)
         
         ),
        url('../../img/sevillapic.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}   */

 /*end of background picture and body*/

 .header a:hover {
    color: rgb(58, 21, 58);
 }

 
/*pop effect for icons*/
 div.icons-menu {
   margin-top: 20px;
 }

 .icons-menu ul {
   top: 56%;
   left: 60%;
   padding: 0;
   margin: 0;
   /* transform: translate(-50%, -50%);  */
   display: flex;
 }
 
 .icons-menu ul li {
   list-style-type: none;
   margin: 0 15px;
 }
 
 .icons-menu ul li .fa:hover{
   background-color: rgba(39, 243, 100, 0.938);
 }
 
 .icons-menu ul li a {
   position: relative;
   display: block;
   width: 60px;
   height: 60px;
   /* border-radius: 50%; */
   /* background-color: #fff; */
   transition: .2s;
 }
 
 .icons-menu ul li a:hover {
   transform: translate(0, -10px);
 }
 
