* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body and background picture*/
html, body{
    height: 100%;
    width: 100%;
}

/*container*/
.container {
    /* margin-top: 20px; */
    margin-bottom: 90px;
}

h2 {
    color: white;
}

h3 {
    color: whitesmoke
}

/* h4 {
    color: white;
} */

h4 a:hover {
    color: rgb(58, 21, 58);
    text-decoration: none;
}

h4 a {
    color: rgb(255, 255, 255);
}

form {
    color: white
}