* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body and background picture*/
html, body{
    height: 100%;
    width: 100%;
}

/*container*/
.container {
    /* margin-top: 20px; */
    margin-bottom: 90px;
}

h2 {
    color: white;
}

/*contact icon buttons*/
.contactlist ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.contactlist ul li {
    list-style-type: none;
    margin: 0 30px;
    text-align: center;
}

h4 a:hover {
    color: rgb(58, 21, 58);
    text-decoration: none;
}

h4 a {
    color: rgb(255, 255, 255);
}

form {
    color: white
}

.social-media ul li .fa:hover {
    background-color: rgba(39, 243, 100, 0.938);
}

.social-media ul li a:hover {
    transform: translate(0, -10px);
}

.social-media ul li {
    list-style-type: none;
    margin: 0 15px;
}

.social-media ul {
    display: flex;
    padding: 0;
    position: relative;
    margin-left: 30px; 
    transform: translate(7%, 5%); 
}

.social-media a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    transition: .2s;
}
