/*css code that will be provided throughout the app*/
* {
  color: white;
  text-decoration: none;
}

/*background picture*/
body {
  background-image: 
  linear-gradient(
      rgba(72, 80, 67, 0.445),
      rgba(6, 20, 37, 0.212)
      
      ),
     url('./img/sevillapic.jpeg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}  

/*icons*/
.fa-github-square {
  color: rgba(39, 243, 100, 0.938);
}

.fa-linkedin {
  color: rgba(39, 243, 100, 0.938);
}

.fa-instagram-square {
  color: rgba(39, 243, 100, 0.938);
}

.fa-github-square:hover {
  color:rgb(58, 21, 58)
}

.fa-instagram-square:hover {
  color: rgb(58, 21, 58);
}

.fa-linkedin:hover {
  color: rgb(58, 21, 58);
}



