/*css code that will be provided throughout the app*/
* {
  color: white;
  text-decoration: none;
}

/*background picture*/
body {
  background-image: 
  linear-gradient(
      rgba(71, 119, 91, 0.384),
      rgba(212, 233, 230, 0.356)
      
      ),
     url('./img/sevillapic.jpeg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}  

/*icons*/
.fa-github-square {
  color: rgba(39, 243, 100, 0.938);
}

.fa-linkedin {
  color: rgba(39, 243, 100, 0.938);
}

.fa-instagram-square {
  color: rgba(39, 243, 100, 0.938);
}


